2025/2. MING/flows.json
[
    {
        "id": "d237d4c0d107e941",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f4ca725fceaf5235",
        "type": "mqtt in",
        "z": "d237d4c0d107e941",
        "name": "Data ESP32",
        "topic": "esp32/temp_hum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker_local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 100,
        "wires": [
            [
                "bfc3b4fcf11a485d",
                "00c8fc200fae4e42"
            ]
        ]
    },
    {
        "id": "bfc3b4fcf11a485d",
        "type": "debug",
        "z": "d237d4c0d107e941",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 100,
        "wires": []
    },
    {
        "id": "00c8fc200fae4e42",
        "type": "influxdb out",
        "z": "d237d4c0d107e941",
        "influxdb": "3685f0df3e1fa625",
        "name": "db_ardumeka",
        "measurement": "data_esp32",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Dev",
        "bucket": "db_ardumeka",
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "mqtt_broker_local",
        "type": "mqtt-broker",
        "name": "Broker Lokal",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3685f0df3e1fa625",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB Cloud",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://eu-central-1-1.aws.cloud2.influxdata.com/",
        "timeout": 10,
        "rejectUnauthorized": true
    }
]